<mat-card>
  <form (submit)="onSearchSubmit($event)" class="search-form">
    <input matInput [formControl]="query" (input)="onQueryInput()" [matAutocomplete]="auto">
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngFor="let option of options" [value]="option">
        {{ option }}
      </mat-option>
    </mat-autocomplete>


    <button mat-raised-button color="primary" type="submit">Search</button>
  </form>
</mat-card>

<mat-card *ngIf="results.length > 0 && !loading">
  <mat-paginator [length]="length" [pageSize]="20" (page)="onPage($event)">
  </mat-paginator>
  <app-movie-list-element *ngFor="let element of results" [element]="element">

  </app-movie-list-element>
  <mat-paginator [length]="length" [pageSize]="20" (page)="onPage($event)">
  </mat-paginator>
</mat-card>

<div class="loading-wrapper" *ngIf="loading">
  <mat-spinner ></mat-spinner>
</div>
