.search-form {
  display: flex;
  width: 60%;
}

.search-form input {
  flex: auto;
  margin-right: 10px;
}
.search-form button {
  flex: none;
}

.loading-wrapper {
  width: 100%;
  height: calc(100% - 285px);
  display: flex;
  justify-content: center;
  align-content: space-between;
  align-items: center;
}